<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle" (click)="toggleClicked($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="">
          <div class="user-profile">
            <img src="assets/img/img.jpg" alt="...">Welcome back John!
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="container">
            <ul class="nav nav-tabs">
              <li><a href="#newProject" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign"></span> New Project</a></li>
              <li><a href="#archivedProjects" data-toggle="tab">8 Archived projects</a></li>
              <li><a href="#activeProjects" data-toggle="tab">3 Active Projects</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->