<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{pageTitle}}</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="">
            <div class="col-md-8 col-sm-8 col-xs-16">
                <div class="x_panel">
                    <div class="x_content">
                        <tabset>
                            <tab heading='MY TASKS'>
                                <app-my-task-list></app-my-task-list>
                            </tab>
                            <tab heading="GRANTS"></tab>
                            <tab heading="REPORTS"></tab>
                            <tab heading="PAYMENTS"></tab>
                        </tabset>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="x_panel">
                    <div class="x_content">
                        <app-approved-grants-pie-chart></app-approved-grants-pie-chart>
                    </div>
                </div>
               
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <app-pie-chart-guage-custom
                            [title]="prepardednessGrantsTitle"
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="prepardednessGrantsEntries"
                            [legend]="showLegend"
                            [labels]="showLabels"
                            [innerCircleLine1] = "prepardednessGrantInnerCircleLine1"
                            [innerCircleLine2] = "prepardednessGrantInnerCircleLine2"
                            [innerCircleLine3] = "prepardednessGrantInnerCircleLine3"
                            [doughnut]="doughnut">
                        </app-pie-chart-guage-custom>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <app-pie-chart-guage-custom
                            [title]="submittedFinancialReportsTitle"
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="submittedFinancialReportsEntries"
                            [legend]="showLegend"
                            [labels]="showLabels"
                            [innerCircleLine1] = "submittedFinancialReportsInnerCircleLine1"
                            [innerCircleLine2] = "submittedFinancialReportsInnerCircleLine2"
                            [innerCircleLine3] = "submittedFinancialReportsInnerCircleLine3"
                            [doughnut]="doughnut">
                        </app-pie-chart-guage-custom>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <app-pie-chart-guage-custom
                            [title]="reportsReceivedTitle"
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="reportsReceivedEntries"
                            [legend]="showLegend"
                            [labels]="showLabels"
                            [innerCircleLine1] = "reportsReceivedInnerCircleLine1"
                            [innerCircleLine2] = "reportsReceivedInnerCircleLine2"
                            [innerCircleLine3] = "reportsReceivedInnerCircleLine3"
                            [doughnut]="doughnut">
                        </app-pie-chart-guage-custom>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                       <app-pie-chart-guage-custom
                            [title]="improperPaymentsTitle"
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="improperPaymentsEntries"
                            [legend]="showLegend"
                            [labels]="showLabels"
                            [innerCircleLine1] = "improperPaymentsInnerCircleLine1"
                            [innerCircleLine2] = "improperPaymentsInnerCircleLine2"
                            [innerCircleLine3] = "improperPaymentsInnerCircleLine3"
                            [doughnut]="doughnut">
                        </app-pie-chart-guage-custom>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <app-pie-chart-guage-custom
                            [title]="correctiveActionsTitle"
                            [view]="view"
                            [scheme]="colorScheme"
                            [results]="correctiveActionsEntries"
                            [legend]="showLegend"
                            [labels]="showLabels"
                            [innerCircleLine1] = "correctiveActionsInnerCircleLine1"
                            [innerCircleLine2] = "correctiveActionsInnerCircleLine2"
                            [innerCircleLine3] = "correctiveActionsInnerCircleLine3"
                            [doughnut]="doughnut">
                        </app-pie-chart-guage-custom>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6  col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                       
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>