<div class="background"></div>
<div class="task-model">
  <div class="heading">
    <h1>DRAFT TASK</h1>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="body">
    

    <!-- <div class="row"> -->
      
      <!--Task Type-->
      <div class="select-box">
        <label for="">Task Type</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>

      <!--Assigning Group-->
      <div class="select-box">
        <label for="">Task Type</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>

      <!--Assigned Group-->
      <div class="select-box">
        <label for="">Task Type</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>

    <!-- </div>end row -->


    <!-- <div class=""> -->
      
      <!--Requested Due Date-->
      <div class="select-box">
        <label for="">Requested Due Date</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>

      <!--Related Award-->
      <div class="select-box">
        <label for="">Related Award</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>

      <!--Assigned Group-->
      <div class="select-box">
        <label for="">Assigned Note</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>


    <!-- </div>end row -->


      <!--Status-->
      <div class="select-box">
        <label for="">Status</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
          </ul>
        </div>
      </div>


      <div class="select-box">
        <label for="">Notes</label>
        <input type="text">
      </div>

  </div>
  <div class="cta">
    <button>Cancel</button>
    <button>Save</button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <i class="fa fa-cog pull-right" data-toggle="modal" ></i>
    MY TASKS
  </div>
  <div class="card-block">
    <div class="row">
      <div class="form-group col-md-12">
        <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter on all columns...'
        (keyup)='updateFilter($event)'
        />
      </div>
    </div>
    <ngx-datatable
    class="material"
    [rows]="tasks"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="30"
    [limit]="10"
    [messages]="messages"
    >
    <ngx-datatable-column name="Task" sortable="true" prop="processCorrelationId" width="250">
      <template let-row="row" ngx-datatable-cell-template>
        <small>
          <button class="btn btn-link btn-sm" (click)="navigateToApplication(row)" type="button">{{row.name}} {{row.processCorrelationId}}</button>
        </small>
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Due Date" sortable="true" prop="dueDate" width="200">
      <template let-row="row" ngx-datatable-cell-template>
        <div>
         Due {{ row.dueDate | dateDifference : row.currentDate}}
       </div>
     </template>
   </ngx-datatable-column>
   <ngx-datatable-column name="Actions" sortable="false" width="150">
    <template let-row="row" ngx-datatable-cell-template>
      <div>
        <a class="new-task" (click)="editTask()" data-toggle="tooltip" data-placement="top" title="Edit Task">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      </div>
    </template>
  </ngx-datatable-column>
</ngx-datatable>
</div>
</div>