<div class="card">
    <div class="card-header">
        <i class="fa fa-cog pull-right" data-toggle="modal" ></i>
        MY TASKS
    </div>
    <div class="card-block">
        <ngx-datatable
            class="material"
                [rows]="tasks"
                [columnMode]="Force-fill"
                [headerHeight]="40"
                [footerHeight]="0"
                [rowHeight]="40"
                [limit]="10"
        >
          <ngx-datatable-column name="Task" sortable="true" prop="applicationNumber" width="400">
            <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              {{column.name}}
            </template>
            <template let-row="row" ngx-datatable-cell-template>
              <div>
                <button class="btn btn-link" (click)="navigateToApplication(row)" type="button">Approve Task {{row.applicationNumber}}</button>
              </div>
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Due Date" sortable="true" prop="dueDate" width="400">
            <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              {{column.name}}
            </template>
            <template let-row="row" ngx-datatable-cell-template>
              <div>
                 Due in {{ row.dueDate | dateDifference : row.currentDate : 'days'}} days
              </div>
            </template>
          </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>