<div [class.right_col]="true" role="main">
    <div class="">
        <div [class.page-title]="true">
            <div [class.title_left]="true">
                <h3>Dynamic UI</h3>
            </div>
        </div>
        <div [class.clearfix]="true"></div>

        <div [class.x_panel]="true">
            <div [class.x_content]="true">


<div>
  <h2>Dynamic content</h2>
  <h3>Grants:
    <!-- <input type="text" [(ngModel)]="context.text"> -->
    <select name="grants" id="grants" [(ngModel)]="context">
      <option selected disabled>Select Grant Type</option>
      <option value="disasterRecoveryGrant">Disaster Recovery Grant</option>
      <option value="terrorismProtectionGrant">Terrorism Protection Grant</option>
      <option value="floodRecoveryGrant">Flood Recovery Grant</option>
    </select>
  </h3>
  <dynamic-content type="sample3" [context]="context">

  </dynamic-content>

  <!-- <minimal-app></minimal-app> -->
</div>


</div>
</div>
</div>
</div>
