<h2>Approved Grants</h2>
<hr />
<app-pie-chart-custom
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [legend]="showLegend"
      [labels]="showLabels"
      [middleLabel]= "middleLabel"
      [doughnut]="doughnut"
      (select)="onSelect($event)">
    </app-pie-chart-custom>
<!--<table>
    <tr>
        <td>
            <div class="full-circle" [ngStyle]="{'background-color': '#0033cc'}"><div [ngStyle]="{'margin-left': '15px'}">PSGP</div></div>
        </td>
        <td><div class="full-circle" [ngStyle]="{'background-color': '#0099ff','margin-left': '45px'}"><div [ngStyle]="{'margin-left': '15px'}">HSGP</div></div></td>
        <td><div class="full-circle" [ngStyle]="{'background-color': '#00ccff','margin-left': '50px'}"><div [ngStyle]="{'margin-left': '15px'}">AFG</div></div></td>
    </tr>
</table>-->
<div class="Row">
    
    
    
</div>
