<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{pageTitle}}</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="x_panel">
            <div class="x_content">





<form class="form-horizontal" [formGroup]="applicationForm">
    <fieldset>
      <div class="row">
        <div class="card">
          <div class="card-header">
              General Information
          </div>
          <div class="card-block">

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('orgName').touched || applicationForm.get('orgName').dirty) && !applicationForm.get('orgName').valid }">
                <label for="orgNameId">Organization Name</label>
                <input type="text" class="form-control" id="orgNameId" aria-describedby="orgNameIdHelp" placeholder="Enter Organization Name" formControlName="orgName">
                <span class="form-text" *ngIf="(applicationForm.get('orgName').touched || applicationForm.get('orgName').dirty) && applicationForm.get('orgName').errors">
                  <span *ngIf="applicationForm.get('orgName').errors.required" class="form-control-feedback">Please enter your Organization Name.</span>
                </span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('address1').touched || applicationForm.get('address1').dirty) && !applicationForm.get('address1').valid }">
                <label for="address1Id">Address 1</label>
                <input type="text" class="form-control" id="address1Id" aria-describedby="address1IdHelp" placeholder="Enter Address 1" formControlName="address1">
                <span class="form-text" *ngIf="(applicationForm.get('address1').touched || applicationForm.get('address1').dirty) && applicationForm.get('address1').errors">
                  <span *ngIf="applicationForm.get('address1').errors.required" class="form-control-feedback">Please enter your Address 1.</span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('state').touched || applicationForm.get('state').dirty) && !applicationForm.get('state').valid }">
                <label for="stateId">State</label>
                <ng-select formControlName="state" placeholder="State (required)" [allowClear]="true" [options]="stateDropDownList" aria-describedby="stateIdHelp"></ng-select>
                <span class="form-text" *ngIf="(applicationForm.get('state').touched || applicationForm.get('state').dirty) && applicationForm.get('state').errors">
                    <span *ngIf="applicationForm.get('state').errors.required" class="form-control-feedback">Please enter State.</span>
                </span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('applicantType').touched || applicationForm.get('applicantType').dirty) && !applicationForm.get('applicantType').valid }">
                <label for="applicantTypeId">Type of Application</label>
                <ng-select formControlName="applicantType" placeholder="Application Type (required)" [allowClear]="true" [options]="applicantTypesDropDownList"></ng-select>
                <span class="form-text" *ngIf="(applicationForm.get('applicantType').touched || applicationForm.get('applicantType').dirty) && applicationForm.get('applicantType').errors">
                    <span *ngIf="applicationForm.get('applicantType').errors.required" class="form-control-feedback">Please enter Application Type.</span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('congressionalDistrict').touched || applicationForm.get('congressionalDistrict').dirty) && !applicationForm.get('congressionalDistrict').valid }">
                <label for="congressionalDistrictId">Congressional District</label>
                <input type="text" class="form-control" id="congressionalDistrictId" aria-describedby="congressionalDistrictIdHelp" placeholder="Congressional District" formControlName="congressionalDistrict">
                <span class="form-text" *ngIf="(applicationForm.get('congressionalDistrict').touched || applicationForm.get('congressionalDistrict').dirty) && applicationForm.get('congressionalDistrict').errors">
                    <span *ngIf="applicationForm.get('congressionalDistrict').errors.required" class="form-control-feedback">Please enter Congressional District.</span>
                </span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('projectTitle').touched || applicationForm.get('projectTitle').dirty) && !applicationForm.get('projectTitle').valid }">
                <label for="projectTitleId">Project Title</label>
                <input type="text" class="form-control" id="projectTitleId" aria-describedby="projectTitleIdHelp" placeholder="Enter Project Title" formControlName="projectTitle">
                <span class="form-text" *ngIf="(applicationForm.get('projectTitle').touched || applicationForm.get('projectTitle').dirty) && applicationForm.get('projectTitle').errors">
                    <span *ngIf="applicationForm.get('projectTitle').errors.required" class="form-control-feedback">Please enter Project Title.</span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('projectNumber').touched || applicationForm.get('projectNumber').dirty) && !applicationForm.get('projectNumber').valid }">
                <label for="projectNumberId">Project Number</label>
                <input type="text" class="form-control" id="projectNumberId" aria-describedby="projectNumberIdHelp" placeholder="Enter Project Number" formControlName="projectNumber">
                <span class="form-text" *ngIf="(applicationForm.get('projectNumber').touched || applicationForm.get('projectNumber').dirty) && applicationForm.get('projectNumber').errors">
                    <span *ngIf="applicationForm.get('projectNumber').errors.required" class="form-control-feedback">Please enter Project Number.</span>
                </span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('projectYear').touched || applicationForm.get('projectYear').dirty) && !applicationForm.get('projectYear').valid }">
                <label for="projectYearId">Project Year</label>
                <input type="text" class="form-control" id="projectYearId" aria-describedby="projectYearIdHelp" placeholder="Enter Project Year" formControlName="projectYear">
                <span class="form-text" *ngIf="(applicationForm.get('projectYear').touched || applicationForm.get('projectYear').dirty) && applicationForm.get('projectYear').errors">
                    <span *ngIf="applicationForm.get('projectYear').errors.required" class="form-control-feedback">Please enter Project Year.</span>
                    <span *ngIf="applicationForm.get('projectYear').errors.invalidYear" class="form-control-feedback">Please enter valid Year.</span>
                </span>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
            Grant Information
          </div>
          <div class="card-block">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('grantType').touched || applicationForm.get('grantType').dirty) && !applicationForm.get('grantType').valid }">
                <label for="grantTypeId">Grant Type</label>
                <ng-select formControlName="grantType" placeholder="Grant Type (required)" [allowClear]="true" [options]="grantTypesDropDownList" aria-describedby="grantTypeIdHelp"></ng-select>
                <span class="form-text" *ngIf="(applicationForm.get('grantType').touched || applicationForm.get('grantType').dirty) && applicationForm.get('grantType').errors">
                    <span *ngIf="applicationForm.get('grantType').errors.required" class="form-control-feedback">Please enter Grant Type.</span>
                </span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-danger': (applicationForm.get('grantValue').touched || applicationForm.get('grantValue').dirty) && !applicationForm.get('grantValue').valid }">
                <label for="grantValueId">Grant Value</label>
                <input type="text" class="form-control" id="grantValueId" aria-describedby="grantValueIdHelp" placeholder="Enter Grant Value" formControlName="grantValue" appCurrencyFormatter>
                <span class="form-text" *ngIf="(applicationForm.get('grantValue').touched || applicationForm.get('grantValue').dirty) && applicationForm.get('grantValue').errors">
                    <span *ngIf="applicationForm.get('grantValue').errors.required" class="form-control-feedback">Please enter Grant Value.</span>
                    <span *ngIf="applicationForm.get('grantValue').errors.invalidCurrency" class="form-control-feedback">Please enter valid Grant Value(a number with 2 decimal places).</span>
                </span>
              </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
            <a [routerLink]="">
                  <i class="fa fa-plus-square-o  fa-pull-right" (click)="openGranteeModal('Add Grantee')" aria-hidden="true" *ngIf="enableEdit == true"></i>
              </a>
            <ng-template #customModalRef let-dialogRef="dialogRef" let-ctx="dialogRef.ctx">
                <app-grantee-add-modal [dialogRef]="dialogRef"></app-grantee-add-modal>
            </ng-template>
              Grantee
          </div>
          <div class="card-block">
            
            <table class="table table-sm  table-condensed" *ngIf="grantee != null">
              <thead>
                <tr>
                    <th *ngIf="enableEdit == true" >Actions</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>DUNS ID</th>
                    <th>Tax ID</th>
                    <th>Financial Report Date</th>
                    <th>Applicant Type<th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="enableEdit == true" >
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-link" ><i class="fa fa-pencil fa-fw" aria-hidden="true" (click)="openGranteeModal('Edit Grantee')"></i></button>
                       <button class="btn btn-link"><i class="fa fa-times" aria-hidden="true" (click)="onRemoveGrantee()"></i></button>
                    </div>
                  </td>
                  <td>{{grantee.firstName}}</td>
                  <td>{{grantee.lastName}}</td>
                  <td>{{grantee.street1}}</td>
                  <td>{{grantee.street2}}</td>
                  <td>{{grantee.city}}</td>
                  <td>{{grantee.state}}</td>
                  <td>{{grantee.dunsId}}</td>
                  <td>{{grantee.taxId}}</td>
                  <td>{{grantee.financialReportDate}}</td>
                  <td>{{grantee.applicantType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
              <a [routerLink]="">
                  <i class="fa fa-plus-square-o  fa-pull-right" (click)="openSubGranteeModal('Add Sub-Grantee')" aria-hidden="true"  *ngIf="enableEdit == true"></i>
              </a>
            <ng-template #customModalRef let-dialogRef="dialogRef" let-ctx="dialogRef.ctx">
                <app-grantee-add-modal [dialogRef]="dialogRef"></app-grantee-add-modal>
            </ng-template>
              Sub-Grantee
          </div>
          <div class="card-block">
            <table class="table table-sm table-condensed" *ngIf="subGrantees.length != 0">
              <thead>
                <tr>
                  <th *ngIf="enableEdit == true">Actions</th>
                  <th>First</th>
                  <th>Last</th>
                  <th>Address 1</th>
                  <th>Address 2</th>
                  <th>City</th>
                  <th>State</th>
                  <th>DUNS ID</th>
                  <th>Tax ID</th>
                  <th>Financial Report Date</th>
                  <th>Applicant Type<th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sg of subGrantees; let idx = index;">
                  <td *ngIf="enableEdit == true">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-link" ><i class="fa fa-pencil fa-fw" aria-hidden="true" (click)="editSubGranteeModal(idx, 'Edit Sub-Grantee')"></i></button>
                       <button class="btn btn-link"><i class="fa fa-times" aria-hidden="true" (click)="onRemoveSubGrantee(idx)"></i></button>
                    </div>
                  </td>
                  <td>{{sg.firstName}}</td>
                  <td>{{sg.lastName}}</td>
                  <td>{{sg.street1}}</td>
                  <td>{{sg.street2}}</td>
                  <td>{{sg.city}}</td>
                  <td>{{sg.state}}</td>
                  <td>{{sg.dunsId}}</td>
                  <td>{{sg.taxId}}</td>
                  <td>{{sg.financialReportDate}}</td>
                  <td>{{sg.applicantType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
                <a [routerLink]=""><i class="fa fa-plus-square-o fa-pull-right" (click)="openPocModal('Add POC')" aria-hidden="true" *ngIf="enableEdit == true"></i></a>
            <ng-template #pocModalRef let-dialogRef="dialogRef" let-ctx="dialogRef.ctx">
                <app-poc-add-modal [dialogRef]="dialogRef"></app-poc-add-modal>
            </ng-template>
            POC
          </div>
          <div class="card-block">
            <table class="table table-sm table-condensed" *ngIf="pocs.length != 0">
              <thead>
                <tr>
                  <th *ngIf="enableEdit == true">Actions</th>
                  <th>Title</th>
                  <th>First</th>
                  <th>MI</th>
                  <th>Last</th>
                  <th>AgencyOrg</th>
                  <th>Address 1</th>
                  <th>Address 2</th>
                  <th>City</th>
                  <th>State</th>
                  <th>ZIP</th>
                  <th>Phone</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let poc of pocs; let idx = index;">
                  <td *ngIf="enableEdit == true">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-link" ><i class="fa fa-pencil fa-fw" aria-hidden="true" (click)="editPocModal(idx, 'Edit POC')"></i></button>
                       <button class="btn btn-link"><i class="fa fa-times" aria-hidden="true" (click)="onRemovePoc(idx)"></i></button>
                    </div>
                  </td>
                  <td>{{poc.title}}</td>
                  <td>{{poc.firstName}}</td>
                  <td>{{poc.middleInitial}}</td>
                  <td>{{poc.lastName}}</td>
                  <td>{{poc.organization}}</td>
                  <td>{{poc.address1}}</td>
                  <td>{{poc.address2}}</td>
                  <td>{{poc.city}}</td>
                  <td>{{poc.state}}</td>
                  <td>{{poc.zip}}</td>
                  <td>{{poc.phone}}</td>
                  <td>{{poc.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isDraft()" >
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="button" (click)="saveApp(applicationForm.value)" [disabled]="!applicationForm.valid" >Save Draft</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="button" (click)="saveApp(applicationForm.value)" [disabled]="!applicationForm.valid" >Submit Application</button>
        </div>
      </div>
      <div class="row" *ngIf="isNew()" >
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="button" (click)="saveApp(applicationForm.value)" [disabled]="!applicationForm.valid" >Save Draft</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="button" (click)="saveApp(applicationForm.value)" [disabled]="!applicationForm.valid" >Submit Application</button>
        </div>
      </div>
      <div class="row" *ngIf="isSubmitted()" >
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="button" (click)="approveApp()" >Approve Application</button>
        </div>
      </div>


    
        
    </fieldset>
</form>








            </div>
        </div>
    </div>
</div>