<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{pageTitle}}</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal" (ngSubmit)="save(applicationForm)" [formGroup]="applicationForm">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-6" [ngClass]="{'has-error': (applicationForm.get('firstNamePoc').touched || 
                                                applicationForm.get('firstNamePoc').dirty) &&
                                                !applicationForm.get('firstNamePoc').valid }">
                                <label class="control-label" for="firstNamePocId">First Name POC</label>
                                <input class="form-control" id="firstNamePocId" type="text" placeholder="First Name POC (required)" formControlName="firstNamePoc"
                                />
                                <span class="help-block" *ngIf="(applicationForm.get('firstNamePoc').touched || 
                                                                applicationForm.get('firstNamePoc').dirty) && 
                                                                applicationForm.get('firstNamePoc').errors">
                                    <span *ngIf="applicationForm.get('firstNamePoc').errors.required">
                                        Please enter first name POC.
                                    </span>
                                <span *ngIf="applicationForm.get('firstNamePoc').errors.minlength">
                                        The first name POC must be longer than 3 characters.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group col-md-6" [ngClass]="{'has-error': (applicationForm.get('lastNamePoc').touched || applicationForm.get('lastNamePoc').dirty) && !applicationForm.get('lastNamePoc').valid }">
                                <label class="control-label" for="lastNamePocId">Last Name POC</label>
                                <input class="form-control" id="lastNamePocId" type="text" placeholder="Last Name POC (required)" formControlName="lastNamePoc" />
                                <span class="help-block" *ngIf="(applicationForm.get('lastNamePoc').touched || 
                                                                applicationForm.get('lastNamePoc').dirty) && 
                                                                applicationForm.get('lastNamePoc').errors">
                                    <span *ngIf="applicationForm.get('lastNamePoc').errors.required">
                                        Please enter last name POC.
                                    </span>
                                <span *ngIf="applicationForm.get('lastNamePoc').errors.minlength">
                                        The last name POC must be longer than 3 characters.
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6" [ngClass]="{'has-error': (applicationForm.get('grantType').touched || 
                                                applicationForm.get('grantType').dirty) &&
                                                !applicationForm.get('grantType').valid }">
                                <label class="control-label" for="grantTypeId">Grant Type</label>
                                <ng-select
                                    formControlName="grantType"
                                    placeholder="Grant Type (required)"
                                    [allowClear]="true"
                                    [options]="grantTypesDropDownList">
                                </ng-select>
                                <span class="help-block" *ngIf="(applicationForm.get('grantType').touched || 
                                                                applicationForm.get('grantType').dirty) && 
                                                                applicationForm.get('grantType').errors">
                                    <span *ngIf="applicationForm.get('grantType').errors.required">
                                        Please enter Grant Type.
                                    </span>
                                </span>
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="subGranteeId">Sub Grantee?</label>
                                <input class="form-control" id="subGranteeId" type="checkbox" formControlName="subGrantee" />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8"><button class="btn btn-primary" type="submit" [disabled]="!applicationForm.valid">Save and Continue</button></div>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>