<ngx-charts-chart
  [view]="[width, height]"
  [showLegend]="legend"
  [legendOptions]="legendOptions"
  [activeEntries]="activeEntries"
  (legendLabelActivate)="onActivate($event)"
  (legendLabelDeactivate)="onDeactivate($event)"
  (legendLabelClick)="onClick($event)">
  <svg:g [attr.transform]="translation" class="pie-chart chart">
    <svg:g app-pie-chart-series-custom
      [colors]="colors"
      [showLabels]="labels"
      [series]="data"
      [activeEntries]="activeEntries"
      [innerRadius]="innerRadius"
      [outerRadius]="outerRadius"
      [explodeSlices]="explodeSlices"
      [gradient]="gradient"
      [total]="total"
      (select)="onClick($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    />
    <svg:text
        font-size="35"
        dy="0.5em"
        x="0"
        y="0"
        text-anchor="middle">
        {{middleLabel}}
      </svg:text>
  </svg:g>
</ngx-charts-chart>