<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-cog pull-right" data-toggle="modal" data-target="#exampleModalLong"></i>
                Applications
            </div>
            <div class="card-block">



              <div class="row">
  <div class="form-group col-md-10">
<input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter on all columns...'
        (keyup)='updateFilter($event)'
      />
      </div>
    <div class="form-group col-md-2">
      <a (click)="onAddApplicationOrganization()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        New Application Organization
      </a>
    </div>
  </div>
<ngx-datatable
  class="material table-striped"
        [rows]="applications"
        [columns]="columns"
        [columnMode]="force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="30"
        [limit]="10"
        [selectionType]="'cell'"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        >
      </ngx-datatable>


                
            </div>
        </div>
    </div>
</div>



